body {
    background-color: #272727;
	text-align: center;
	color:#14a76c;
	text-align: center;
}
.logo {
	float: left;
}
ul {
	list-style-type: none;
	padding: 0px;
	color: #14a76c;
	text-decoration: none;
	float: right;
}
ul a {
	color: #14a76c;
	text-decoration: none;
	margin: 0 15px;
}
li {
	display: inline-block;
}
table {
	border: 1px solid #14a76c;
	width: 100%;
}
td {
	border: 1px solid #14a76c;
	background-color: #272727;
}
hr {
	clear: both;
}
h1 {
	color: #14a76c;
}
